In [1]:
import pandas as pd
from pandas import Series, DataFrame
import random
import csv
from datetime import datetime, time, timedelta
import numpy as np

In [2]:
bar_df = pd.read_csv('BAR.csv')

In [3]:
bar_df.head()

,id,Bar,Street,City,State,Phone,License,Open,Close
0,1,TACO BAR,Ap #669-1563 Velit. Ave,San Antonio,New Hampshire,184-137-9394,417478-9703,20:00:00,3:00:00
1,2,ASPEN HILL BAR & GRILL,5530 Habitant St.,Clarksville,Tennessee,803-182-2749,122581-2526,22:00:00,2:00:00
2,3,Il Fornaio,497-2846 Metus Rd.,Fairbanks,New York,697-987-7592,698268-4422,19:00:00,1:00:00
3,4,Blue Angel,226-6371 Malesuada Rd.,Honolulu,Hawaii,622-163-5121,802054-2166,17:00:00,5:00:00
4,5,Seven Bamboo,Ap #391-9394 Eleifend Street,Idaho Falls,Idaho,681-819-0612,759258-8235,21:00:00,2:00:00

In [4]:
bar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 9 columns):
id         250 non-null int64
Bar        250 non-null object
Street     250 non-null object
City       250 non-null object
State      250 non-null object
Phone      250 non-null object
License    250 non-null object
Open       250 non-null object
Close      250 non-null object
dtypes: int64(1), object(8)
memory usage: 17.7+ KB

In [5]:
drinker_df = pd.read_csv('DRINKER.csv')

In [6]:
drinker_df.head()

,id,Name,Street,City,State,Phone,SSN,DriverLicense
0,1,Allen Mathis,953-883 Quis Ave,Nashville,Tennessee,720-928-3055,799-38-05,1B416FC0-34C7-C1AC-D325-2A0EEEA27C1F
1,2,Erich Daugherty,778-1879 Suspendisse Rd.,Seattle,Washington,773-819-8133,612-74-09,64962540-6036-4081-D6A9-88D59329B867
2,3,Eagan Harris,4251 Sagittis. St.,Columbia,Maryland,652-621-5977,461-32-04,E4A7FF78-8F42-544B-1B66-5021ADEC69F4
3,4,Katell Gilmore,"Ap #932-1403 Erat, Road",Aurora,Colorado,732-954-7751,350-72-01,45EF065B-44C0-2995-7A1F-AA9C9F82AA8D
4,5,Solomon Ratliff,"P.O. Box 377, 4676 Arcu. Avenue",Jonesboro,Arkansas,546-950-1691,201-01-01,E00EADAD-DF6F-50F3-CA2C-91C977200350

In [7]:
drinker_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
id               5000 non-null int64
Name             5000 non-null object
Street           5000 non-null object
City             5000 non-null object
State            5000 non-null object
Phone            5000 non-null object
SSN              5000 non-null object
DriverLicense    5000 non-null object
dtypes: int64(1), object(7)
memory usage: 312.6+ KB

In [8]:
def random_date():
    return (str(pd.to_datetime(random.choice(pd.bdate_range('2015/1/1', '2018/12/31'))))[:10])

In [9]:
def random_time(start,end):
    end1= end[0:2]
    end2 = end[3:5]
    start1 = start[0:2]
    start2 = start[3:5]
    start_datetime = datetime(2016,8,17,int(start1),int(start2),0,0)
    end_datetime = datetime(2016,8,17,int(end1),int(end2),0,0)
    delta = end_datetime-start_datetime
    inc = random.randrange(delta.total_seconds())
    temp = start_datetime+timedelta(seconds=inc)
    return (str(temp)[-8:])

In [10]:
def random_person(list, key):
    values = np.array(list)
    searchval = key
    ii = np.where(values == searchval)[0]
    index_of_state = random.choice(ii)
    return index_of_state

bar_df = pd.read_csv('BAR.csv')
drinker_df = pd.read_csv('DRINKER.csv')

bar_state = bar_df.State.tolist()
bar_bar_license = bar_df.License.tolist()

In [11]:
def lookup_bar_state(lisence_list, state_list, lisence_id):
    index = lisence_list.index(lisence_id)
    return state_list[index]

states = drinker_df.State.tolist()
drinker_name = drinker_df.Name.tolist()

In [12]:
file = open('BILL.csv', 'w')

In [13]:
with open('BAR.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0

    for i in range(609):
        t = random.randint(25, 43)

        print(bar_df['Open'][i])
        for j in range(t):
            open_hour = bar_df['Open'][i]
            close_hour = bar_df['Close'][i]
            bar_lisence = bar_df['License'][i]
            
            ran_time = random_time(open_hour,close_hour)
            date = random_date()

            st = lookup_bar_state(bar_bar_lisence, bar_state, bar_lisence)
            person_name = costumer_name[random_person(states, st)]
            s =','
            seq = (ran_time, str(date), str(person_name), str(bar_lisence))
            temp = s.join(seq)
            file.write(temp + '\n')
            print(line_count)
            line_count += 1

file.close()

20:00:00

ValueError: invalid literal for int() with base 10: '3:'